* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
textarea {
  width: 100vw;
  height: 3rem;
}
.envelope {
  max-width: 100vw;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  display: block;
}
textarea#destination {
  position: sticky;
  bottom: 0;
}